@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F4F1FE;
  --foreground: #171717;
}

body {
  display: flex;
  position: relative;
  flex-direction: column;
  margin: 0;
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  min-width: 320px;
  min-height: 100vh;
}